.vv-card {
  background: $white;
  border-radius: $default_border_radius;
  box-shadow: $default_box_shadow;
  position: relative;
  box-sizing: border-box;
}

.vv-card__header {
  padding: 1em;
  border-bottom: $light_border;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  background-clip: padding-box;
}

.vv-card__content {
  padding: 1em;
  border-bottom: $light_border;
  background-clip: padding-box;

  &:last-of-type {
    border-bottom: none;
  }
}

.vv-card__footer {
  padding: 1em;
  border-bottom: $light_border;
  background: darken($white, 2%);
  background-clip: padding-box;
}

.vv-card__image {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  line-height: 0;
  position: relative;

  img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    object-fit: cover;
  }
}

.vv-card__image--overlay-top {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,211111+100&1+0,0.4+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(33,17,17,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(33,17,17,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(33,17,17,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#66211111',GradientType=0 ); /* IE6-9 */
  }
}

.vv-card__image--overlay-left {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,211111+100&1+0,0.64+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(33,17,17,0.64) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(33,17,17,0.64) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(33,17,17,0.64) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a3211111',GradientType=1 ); /* IE6-9 */

  }
}






.vv-card-image-banner {
  border-radius: 2px;
  height: 500px;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  padding: 2em;
  z-index: 1;
}

.vv-card-image-banner--overlay-top {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-clip: padding-box;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,211111+100&1+0,0.4+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(33,17,17,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(33,17,17,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(33,17,17,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#66211111',GradientType=0 ); /* IE6-9 */
  }
}

.vv-card-image-banner--overlay-left {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-clip: padding-box;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,211111+100&1+0,0.4+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(33,17,17,0.64) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(33,17,17,0.64) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(33,17,17,0.64) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a3211111',GradientType=1 ); /* IE6-9 */
  }
}

.vv-card-image-banner__header {
  position: relative;
  top: 50%;
  z-index: 5;
}

.vv-card-image-banner__heading {
  text-transform: uppercase;
  color: white;
  z-index: 2;
  font-size: 4em;
  margin: 0;
  padding: 0;
  line-height: 35px;

}

.vv-card-image-banner__sub-heading {
  color: white;
  z-index: 2;
  position: relative;
  letter-spacing: 2px;
}








// INFO CARD
$list: navy teal pink red primary secondary;
@each $color in $list {
  $currentColor: map-get($colors, $color);

  .vv-card--#{$color} {
    color: lighten($currentColor, 90%);
    .vv-card__header {
      background: $currentColor;
    }

    .vv-card__content {
      background: $currentColor;
    }
  }
}