.vv-menu {
  height: inherit;
  display: flex;
  width: 100%;
  align-items: center;
  flex: 2;
}

.vv-menu a:first-child {
  .vv-menu__item {
    border-left: $light_border;
  }
}

.vv-menu__item {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-right: $light_border;
  // text-transform: uppercase;
  color: $primary_color;

  &:hover {
    background: darken($white, 1%);
  }
}
