.vv-topbar {
  height: 60px;
  background: $white;
  width: inherit;
  display: flex;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 2em;
  position: fixed;
  z-index: 99;
}

.vv-topbar__logo {
  font-weight: 700;
  font-size: 1.2em;
  border: 4px solid #2c3e50;
  padding: 5px 15px;
  border-radius: 2px;
  margin-right: 20px;
  color: $primary_color !important;
}

.vv-topbar__title {
  font-weight: 700;
  font-size: 1.2em;
  padding: 5px 15px;
  text-transform: uppercase;
  flex: 1;
}
